*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  font: inherit;
}
ol,
ul {
  list-style: none;
}

/* Variables */
:root {
  --main-text-color: #303030;
  --body-bg-color: white;
  --main-bg-color: rgba(250, 245, 228, 0.35);
  --articles-bg-color: #d9e4dd;
  --title-font: "Merriweather", serif;
  --p-font: "Roboto", sans-serif;
}

body {
  font-family: var(--p-font);
  background-color: var(--body-bg-color);
  color: var(--main-text-color);
}

/* Header  */
header {
  background: rgb(1, 29, 29);
  background: linear-gradient(
      180deg,
      rgba(1, 26, 26, 0.1) 0%,
      rgba(0, 68, 69, 0.5) 70%,
      rgba(44, 120, 108, 0.3) 100%
    ),
    url(https://images.pexels.com/photos/335393/pexels-photo-335393.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260)
      no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 65vh;
  overflow: hidden;
}

.header-title {
  background-color: rgba(250, 245, 228, 0.35);
  width: 85vw;
  border-radius: 10px;
  box-shadow: 0 0 4px 6px rgba(250, 245, 228, 0.35);
  margin: 5% auto;
  padding: 2.5%;
  text-align: center;
}
h1 {
  font-size: clamp(2rem, 4rem, 5.5rem);
  font-family: var(--title-font);
}
.header-title p {
  margin-top: 1.5%;
}
ul {
  width: 80vw;
  margin: 1% auto;
  text-align: center;
}
.header-li {
  display: inline-block;
  text-decoration: none;

  background-color: antiquewhite;
  color: var(--main-text-color);
  border-radius: 15px;
  padding: 1%;
  margin: 1%;
  transition: transform 100ms;
}
.header-li:hover {
  transform: scale(1.05);
  background-color: #e1d3c1;
  font-weight: 600;
}

/* Main  */
#wrapper {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin: 2% auto;
}
article {
  width: 48%;
  height: 60vh;
  padding: 0.5%;
  background-color: var(--main-bg-color);
  border-radius: 5px;
  margin: 0.5% auto;
  box-shadow: 2px 2px 5px 0#DCDCDC;
  text-align: center;
}
article img {
  width: 100%;
  height: 50%;
  padding: 1%;
  transition: transform 300ms;
}
article img:hover {
  transform: scale(1.1);
}
.title {
  padding: 2%;
}
h2 {
  font-family: "Merriweather", serif;
  font-size: clamp(0.9rem, 1.5rem, 1.75rem);
}
article p {
  font-size: 0.9rem;
  padding: 1%;
}
span {
  text-decoration: line-through;
}

/* Back to top button  */
.btn-div {
  width: 100%;
  margin: 2%;
}
#btn {
  float: right;
  text-decoration: none;
  border: 1px solid whitesmoke;
  border-radius: 50%;
  padding: 1%;
  color: var(--main-text-color);
}

/* Footer  */
footer {
  background-color: #835858;
  color: #fff;
  width: 100%;
  height: 15vh;
  text-align: center;
  padding: 3%;
}
footer a {
  /* text-decoration: none; */
  color: #fff0f0;
  font-weight: 400;
}

/* https://colorhunt.co/palette/206782 */
/* https://www.w3schools.com/colors/colors_shades.asp */

/* Media Queries  */
@media only screen and (max-width: 760px) {
  article {
    width: 80%;
    height: 55vh;
  }
  .header-li {
    font-size: 0.85rem;
  }
}
@media only screen and (max-width: 600px) {
  article {
    width: 100%;
    height: 65vh;
  }
  h1 {
    font-size: 2.5rem;
  }
  footer {
    height: 10vh;
    font-size: 0.8rem;
  }
}
